<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="logfile" fileName="${sys:catalina.base}/logs/suds2.log">
            <PatternLayout>
                <Pattern>%d %p %C [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="net.rustine" level="debug" additivity="false">
            <AppenderRef ref="logfile"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="logfile"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>